.txtShow {
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    position: absolute;
}

@media only screen and (max-width: 766px) {
    .txtShow {
        top: 4em;
        left: 1em;
    }

    .filtros {
        overflow-y: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        position: fixed;
        width: 60%;
        height: 90%;
        top: 3.7em;
        right: 0;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1199px) {
    .txtShow {
        top: 5em;
        left: 1em;
    }

    .filtros {
        overflow-y: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        position: fixed;
        width: 19%;
        height: 90%;
        top: 5em;
        right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .txtShow {
        visibility: hidden;
    }

    .filtros {
        overflow-y: auto;
        padding-top: 1em;
        padding-bottom: 1em;
        position: fixed;
        width: 17%;
        height: 90%;
        top: 5em;
        right: 0;
    }
}
