.numbers {
    background-color: rgba(0, 0, 0, 0.25);
    width: 30px;
    height: 69px;
    text-align: center;
}

.numbers i {
    display: compact;
}

.numbers input {
    border-style: hidden;
    height: 16px;
    width: 30px;
}

.listaCompra td {
    vertical-align: middle;
}

.finalizarCompra {
    background-color: rgba(0, 92, 94, 0.2);
    height: 14em;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.34);
    height: 15%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer i {
    cursor: pointer;
    font-size: 30px;
    margin-right: 5px;
}

.productos {
    height: 30em;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenedor {
    border-style: double;
    background-color: rgba(0, 92, 94, 0.2);
}

.creditos {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5em;
    width: 22em;
}

.opcionesPago {
    margin-top: 1em;
    margin-left: 6em;
    height: 7em;
    width: 14em;
}

.opciones {
    z-index: 4;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcionesCentro {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, .8);
    border-radius: 30px;
    width: 50em;
    height: 15em;
    background-color: white;
}

.opciones.hide {
    visibility: hidden;
}

.opcionesCentro i:hover {
    cursor: pointer;
    color: lightblue;
}
