.nv {
    top: 0;
    position: absolute;
    left: -15em;
    bottom: 0;
}

.mostrar {
    top: 72px;
    z-index: 20;
    position: absolute;
    left: 0;
    bottom: 0;
}

.menu {
    padding-top: 1em;
    position: fixed;
    font-family: 'Abril Fatface', cursive;
    background-color: #ffecbe;
    line-height: 42px;
    padding-left: 7px;
    width: 15em;
    height: 100%;
}

.menu button {
    text-transform: capitalize;
    transition: all .5s;
    display: block;
    color: #1b1e21;
    text-decoration: none;
    width: 100%;
}

.menu button:hover {
    margin-left: 1em;
}

.menu li {
    transition: all .5s;
}

.menu li:hover {
    box-shadow: 10em 0 rgba(0, 90, 7, 0.16) inset;
}

.btnIm {
    margin-top: 10px;
    margin-right: 5em;
    font-size: 30px;
    padding: 4px;
}

.btnIm:hover {
    cursor: pointer;
    border-radius: 6px;
    border-style: solid;
}

.options {
    margin-right: 30px;
    background-color: rgba(68, 35, 94, 0.48);
}

.admin {
    margin-top: 5em;
    margin-left: 3em;
    width: 127.5em;
    height: 51em;
}

#apoyo a {
    margin-right: 5em;
    text-decoration: none;
    text-transform: uppercase;
}

#apoyo a:hover {
    transition: all .5s;
    background-color: lightcyan;
}
