.overlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {

    background: white;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .8);
    border-radius: 3px;
    padding: 20px;
    text-align: center;
    width: 800px;
}

.popup .btn-cerrar-popup {
    display: block;
    text-align: right;
    color: #1d643b;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #2fa360;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 10px;
    height: 32px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}
